/* clothes pagina */
h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content {
    touch-action: manipulation;
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: white;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.custom-image {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    color: black;
    padding-top: 8px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.ul1 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.li1 {
    padding: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
}

.checked {
    color: #ff9f43;
}

.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

button {
    text-align: center;
    font-size: 24px;
    color: black;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1, .buy-2, .buy-3, .buy-4, .buy-5, .buy-6 {
    background-color: #2183a2;
}

@media (max-width: 1000px) {
    .content {
        width: 45%;
    }
}

@media (max-width: 750px) {
    .content {
        width: 100%;
        
    }
}

/* shoes detail css */


a{
    color: unset;
    text-decoration: none;
}
.container1{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
}
.title{
    font-size: xx-large;
    padding: 20px 0;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
/* detail page */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}
.detail .image img{
    width: 75%;
}
.detail .image{
    position: relative;
}
.detail .image::before{
    position: absolute;
    width: 300px;
    height: 300px;
    content: '';
    background-color: #94817733;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;

}
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.detail .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
}
.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.detail .buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}
.detail .description{
    font-weight: 300;
}
/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}


/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background: #efe4e4; */

}



.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    height: 120px;
    line-height: 120px;
    z-index: 100;
}
.left_nav{
    display: flex;
    gap: 50px;
}
.nav_logo{
    display: flex;
    align-items: center;
}
.nav_logo img{
    width: 100px;
}
.nav_menu ul{
    display: flex;
    flex-direction: row;
}
ul li{
    position: relative;
    list-style: none;
    margin: 0 30px;
}
.link{
    text-decoration: none;
    padding: 10px 0;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
.nav_menu .link_border{
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 43px;
    left: 0;
    background: #000;
    transition: .4s ease-in-out;
}
.nav_menu ul li a:hover ~ .link_border{
    width: 30px;
}
.nav_dropdown_menu{
    display: none;
}
.right_nav{
    display: flex;
    gap: 50px;
}

.menu_bars{
    display: flex;
    align-items: center;
}
.menu_bars_btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
}
.menu_bars_btn img{
   width: 30px;
}
.bar_1, .bar_2{
    transition: .3s ease-in-out;
}
.menu_bars_btn:hover .bar_1{
   margin-left: 5px;
}
.menu_bars_btn:hover .bar_2{
    margin-right: 10px;
 }
/* BODY ITEMS */
/* .item_1 img{
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 10;
} */


@media (max-width: 768px) { /* Pas de breedte aan naar wens */
    .item_2 img, .just_do_it {
        display: none;
    }
}

.just_do_it p{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(-50% -50%);
    width: 200px;
    line-height: 100px;
    font-size: 100px;
    font-weight: 600;
    opacity: 0.1;
    z-index: 100;
}
.main{
    position: relative;
    display: flex;
    z-index: 100;
}
.left_col{
    width: 50%;
    padding-left: 70px;
    padding-top: 40px;
}
.left_col .shoe_title p{
    font-size: 4.2vw;
    font-weight: 600;
    letter-spacing: 7px;
}
.line hr{
    border: 1px solid #222;
    width: 200px;
    margin: 25px 0 35px 0;
}
.left_col .shoe_description p{
    font-family: 'Cascadia Code',sans-serif;
    font-weight: 300;
    line-height: 30px;
}

.price{
    font-family: 'Cascadia Code',sans-serif;
    font-weight: 500;
}

.shoe_img_box .shoe_img{
    position: absolute;
    left: 50%;
    top: 10%;
    width: 130px;
    transform: translate(-50%, -50%) rotate(-40deg);
    transition: .3s ease-in-out;
}
.shoe_name_price{
    display: flex;
    justify-content: space-between;
}
.shoe_name_price h3{
    font-family: Impact;
    font-weight: 400;
    width: 60px;
}

@media only screen and (max-width: 755px) {
    nav{
        z-index: 200;
    }
    .nav_menu{
        display: none;
    }
    .nav_dropdown_menu.responsive{
        display: flex;
    }
    .dropdown{
        position: relative;
    }
    .nav_dropdown_menu{
        position: absolute;
        top: 50px;
        right: 0;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.1);
        width: 300px;
        height: 380px;
        backdrop-filter: blur(25px);
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        border-radius: 20px;
        transition: all .3s ease-in-out;
    }
    .nav_dropdown_menu ul li{
        line-height: 90px;
        margin: 0;
        text-align: center;
    }
    .dropdown:hover .bar_1{
        margin-left: 5px;
    }
     .dropdown:hover .bar_2{
         margin-right: 10px;
    }
    .main{
        flex-direction: column;
    }
    .left_col{
        width: 100%;
        padding: 0 8vw;
        order: 2;
    }
    .right_col{
        width: 100%;
        position: relative;
        height: 300px;
        order: 1;
    }
 
 
}
/* Zorg ervoor dat de footer aan de onderkant van de pagina blijft */
footer {
    margin-top: auto;
    padding: 10px 0;
    background: #efe4e4;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 20px 0;
    }
}

