*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img{
    width: 28px;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .container button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    z-index: 0;
    transition: left 0.3s;
  }
  
  .container button:hover::before {
    left: 100%;
  }


.box ul li{
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(deepskyblue,transparent,transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
}

.box ul li:nth-child(2){
    left: 37vw;
    animation-delay: 2s;
}

.box ul li:nth-child(3){
    left: 25vw;
    animation-delay: 2s;
}

.box ul li:nth-child(4){
    left: 60vw;
    animation-delay: 2s;
}

.box ul li:nth-child(5){
    left: 75vw;
    animation-delay: 2s;
}

@keyframes animate {
    0%{
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
}

.length-input {
    margin-bottom: 10px;
  }

  .length-input label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }

  .length-input input {
    border: 1px solid #019f55;
    background-color: #002339;
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    width: 100px;
  }

  .length-input input:focus {
    outline: none;
    border-color: #fff;
  }